.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
    
    
.leftBox{
    text-align: left;
    align-self: flex-start;
}
.rightBox{
    text-align: right;
    align-self: flex-end;
}
.text{
    padding: 0px 10px;
    background-color: white;
    min-height: 50px;
    max-width: 500px;
    line-height: 50px;
    color: black;
    border-radius: 5px;
}